# Importing the Data

- Import relevant imdb files for movie/actor data

In [1]:
import pandas as pd

In [2]:
#name of people on titles. known_for_titles matches the title_id
imdb_name = pd.read_csv('zippedData/imdb.name.basics.csv.gz') 

#title, region, language
imdb_title_a =  pd.read_csv('zippedData/imdb.title.akas.csv.gz') 

#title, year, runtime, genre
imdb_title_b =  pd.read_csv('zippedData/imdb.title.basics.csv.gz') 

#categorizes the people(nameid) on the movie(titleid) and includes their job role and characters they played
imdb_title_p = pd.read_csv('zippedData/imdb.title.principals.csv.gz')

# Movie Data
- Merge IMDB dataframes related to just movies
- Specify movies released in the US
- Drop unnecessary columns and duplicate values
- Import movie data from API calls
- Create functions to pull out values from nested data
- Create new columns for genre, season, rating, and profitability
- Remove null and 0 values

In [3]:
#renamed the 'tconst' column to match the title_id column from imdb_title_a for merging 
imdb_title_b = imdb_title_b.rename(columns = {"tconst": "title_id"})

In [4]:
#merge b and a df's first to just get all of the title info and the region in one table

title_ba = imdb_title_b.merge(imdb_title_a, on = 'title_id', how = 'left')
title_ba.head()

,title_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,language,types,attributes,is_original_title
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",1.0,Sangharsh,IN,hi,NaN,alternative transliteration,0.0
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",2.0,Sunghursh,NaN,NaN,original,NaN,1.0
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",3.0,Sunghursh,IN,NaN,NaN,NaN,0.0
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",4.0,Sunghursh,IN,hi,NaN,alternative transliteration,0.0
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",5.0,Sungharsh,IN,hi,NaN,alternative spelling,0.0

In [5]:
#get US movies
us_titles = title_ba.groupby('region').get_group('US')
us_titles.head()

,title_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,language,types,attributes,is_original_title
14,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,2.0,The Other Side of the Wind,US,NaN,imdbDisplay,NaN,0.0
31,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",1.0,Bigfoot,US,NaN,NaN,NaN,0.0
52,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,3.0,Cooper and Hemingway: The True Gen,US,NaN,NaN,NaN,0.0
63,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,1.0,Heaven & Hell,US,NaN,imdbDisplay,NaN,0.0
65,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,1.0,The Final Journey,US,NaN,NaN,NaN,0.0

In [6]:
#drop any columns we don't need
clean_us_movies = us_titles.drop(columns = ['primary_title', 'original_title', 'runtime_minutes', 'start_year','language', 'types', 'attributes', 'is_original_title'])
#drop duplicates that have the same title_id AND title
clean_us_movies = clean_us_movies.drop_duplicates(subset=(['title_id', 'title']), keep="first")

In [7]:
#drop any remaining duplicates that just have the same title_id
clean_us_movies = clean_us_movies.drop_duplicates(subset=('title_id'), keep="first")

In [8]:
#export clean_us_movies to use title_id's for API calls

#clean_us_movies.to_csv('clean_us_moves.csv', index=False)

In [9]:
#import us movie data df that now includes API movie data

#budget, genres, release date, revenue, title, ratings
movie_data = pd.read_csv('./movie_data.csv')

In [10]:
#drop columns from movie_data
movie_data = movie_data.drop(columns = ['Unnamed: 0', 'original_language', 'original_title', 'production_companies'])
movie_data.head()

,budget,genres,id,imdb_id,release_date,revenue,title,results
0,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",299782.0,tt0069049,2018-11-02,0.0,The Other Side of the Wind,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
1,0.0,"[{'id': 99, 'name': 'Documentary'}]",224332.0,tt0159369,2013-09-27,0.0,Cooper and Hemingway: The True Gen,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
2,5000000.0,"[{'id': 18, 'name': 'Drama'}]",567662.0,tt0192528,2018-11-06,0.0,Heaven & Hell,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
3,65000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",116977.0,tt0249516,2012-06-15,73706.0,Foodfight!,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
4,2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",323498.0,tt0255820,2013-08-11,0.0,Return to Babylon,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."

In [11]:
#convert genres string to a list for later manipulation
for name in range(len(movie_data.genres)):
    movie_data.genres[name] = eval(movie_data.genres[name])
movie_data.head()

/Users/danielmocombe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,budget,genres,id,imdb_id,release_date,revenue,title,results
0,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",299782.0,tt0069049,2018-11-02,0.0,The Other Side of the Wind,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
1,0.0,"[{'id': 99, 'name': 'Documentary'}]",224332.0,tt0159369,2013-09-27,0.0,Cooper and Hemingway: The True Gen,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
2,5000000.0,"[{'id': 18, 'name': 'Drama'}]",567662.0,tt0192528,2018-11-06,0.0,Heaven & Hell,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
3,65000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",116977.0,tt0249516,2012-06-15,73706.0,Foodfight!,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
4,2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",323498.0,tt0255820,2013-08-11,0.0,Return to Babylon,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."

In [12]:
#convert results from string to list for later manipulation
for name in range(len(movie_data.results)):
    movie_data.results[name] = eval(movie_data.results[name])
movie_data.head()

/Users/danielmocombe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,budget,genres,id,imdb_id,release_date,revenue,title,results
0,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",299782.0,tt0069049,2018-11-02,0.0,The Other Side of the Wind,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
1,0.0,"[{'id': 99, 'name': 'Documentary'}]",224332.0,tt0159369,2013-09-27,0.0,Cooper and Hemingway: The True Gen,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
2,5000000.0,"[{'id': 18, 'name': 'Drama'}]",567662.0,tt0192528,2018-11-06,0.0,Heaven & Hell,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
3,65000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",116977.0,tt0249516,2012-06-15,73706.0,Foodfight!,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."
4,2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",323498.0,tt0255820,2013-08-11,0.0,Return to Babylon,"[{'iso_3166_1': 'US', 'release_dates': [{'cert..."

In [13]:
#convert release date from string to datetime type
movie_data['release_date'] = pd.to_datetime(movie_data['release_date'])

In [14]:
#create a column for the month
movie_data['month'] = pd.DatetimeIndex(movie_data['release_date']).month

In [15]:
#create a column for the year
movie_data['year'] = pd.DatetimeIndex(movie_data['release_date']).year
movie_data.head()

,budget,genres,id,imdb_id,release_date,revenue,title,results,month,year
0,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",299782.0,tt0069049,2018-11-02,0.0,The Other Side of the Wind,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",11,2018
1,0.0,"[{'id': 99, 'name': 'Documentary'}]",224332.0,tt0159369,2013-09-27,0.0,Cooper and Hemingway: The True Gen,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",9,2013
2,5000000.0,"[{'id': 18, 'name': 'Drama'}]",567662.0,tt0192528,2018-11-06,0.0,Heaven & Hell,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",11,2018
3,65000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",116977.0,tt0249516,2012-06-15,73706.0,Foodfight!,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",6,2012
4,2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",323498.0,tt0255820,2013-08-11,0.0,Return to Babylon,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",8,2013

In [16]:
#pulls out just the genre names and puts them into a single list
for x in range(len(movie_data.genres)):
    movie_data.genres[x] = [y['name'] for y in movie_data.genres[x]]

/Users/danielmocombe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
#function that will get the value for certification key which is a nested list of dictionaries under results column
def get_cert(test):
    for x in range(len(test)):
        for y in test[x].keys():
            while test[x][y] == 'US':
                return test[x]['release_dates'][0]['certification']
            continue

In [18]:
#function that shows the name of the seasion for each month based on Box Office Mojo's categorization
def season(x):
    if x >= 1 and x <= 2:
        return 'Winter'
    elif x >= 3 and x <= 4:
        return 'Spring'
    elif x >= 5 and x <= 8:
        return 'Summer'
    elif x >= 9 and x <= 10:
        return 'Fall' 
    else:
        return 'Holiday'

In [19]:
#create new column that applies get_cert function to the df
movie_data['rating'] = movie_data.results.apply(get_cert)
#create new column that applies season function to the df
movie_data['season'] = movie_data.month.apply(season)
#create column that just shows first genre from genres list
movie_data['genre'] = movie_data['genres'].str[0]
#create column that calculates the profitability per movie
movie_data['profitability'] = movie_data['revenue'] - movie_data['budget']

In [20]:
#remove null rating values
clean_movie_data = movie_data.dropna(subset=['rating'])

#remove movies with 0 budgets
clean_movie_data = clean_movie_data.loc[~(clean_movie_data['budget'] == 0)]

#remove null genre values
clean_movie_data = clean_movie_data.dropna(subset=['rating'])

In [21]:
#sort results by revenue
clean_movie_data = clean_movie_data.sort_values(by=['revenue'], ascending=[False])
clean_movie_data.head(10)

,budget,genres,id,imdb_id,release_date,revenue,title,results,month,year,rating,season,genre,profitability
15167,356000000.0,"[Adventure, Science Fiction, Action]",299534.0,tt4154796,2019-04-24,2.797801e+09,Avengers: Endgame,"[{'iso_3166_1': 'IT', 'release_dates': [{'cert...",4,2019,PG-13,Spring,Adventure,2.441801e+09
9384,245000000.0,"[Action, Adventure, Science Fiction, Fantasy]",140607.0,tt2488496,2015-12-15,2.068224e+09,Star Wars: The Force Awakens,"[{'iso_3166_1': 'IT', 'release_dates': [{'cert...",12,2015,,Holiday,Action,1.823224e+09
15166,300000000.0,"[Adventure, Action, Science Fiction]",299536.0,tt4154756,2018-04-25,2.046240e+09,Avengers: Infinity War,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",4,2018,PG-13,Spring,Adventure,1.746240e+09
18,150000000.0,"[Action, Adventure, Science Fiction, Thriller]",135397.0,tt0369610,2015-06-06,1.671713e+09,Jurassic World,"[{'iso_3166_1': 'GR', 'release_dates': [{'cert...",6,2015,PG-13,Summer,Action,1.521713e+09
19625,260000000.0,"[Adventure, Family]",420818.0,tt6105098,2019-07-12,1.656943e+09,The Lion King,"[{'iso_3166_1': 'KR', 'release_dates': [{'cert...",7,2019,PG,Summer,Adventure,1.396943e+09
210,220000000.0,"[Science Fiction, Action, Adventure]",24428.0,tt0848228,2012-04-25,1.519558e+09,The Avengers,"[{'iso_3166_1': 'GR', 'release_dates': [{'cert...",4,2012,PG-13,Spring,Science Fiction,1.299558e+09
10542,190000000.0,"[Action, Thriller]",168259.0,tt2820852,2015-04-01,1.515048e+09,Furious 7,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",4,2015,PG-13,Spring,Action,1.325048e+09
8842,250000000.0,"[Action, Adventure, Science Fiction]",99861.0,tt2395427,2015-04-22,1.405404e+09,Avengers: Age of Ultron,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",4,2015,PG-13,Spring,Action,1.155404e+09
4647,200000000.0,"[Action, Adventure, Fantasy, Science Fiction]",284054.0,tt1825683,2018-02-13,1.346739e+09,Black Panther,"[{'iso_3166_1': 'US', 'release_dates': [{'cert...",2,2018,PG-13,Winter,Action,1.146739e+09
662,125000000.0,"[Fantasy, Adventure]",12445.0,tt1201607,2011-07-07,1.341511e+09,Harry Potter and the Deathly Hallows: Part 2,"[{'iso_3166_1': 'KR', 'release_dates': [{'cert...",7,2011,PG-13,Summer,Fantasy,1.216511e+09

In [22]:
#drop any remaining columns we don't need for analysis

clean_movie_data = clean_movie_data.drop(columns = ['genres', 'results', 'id'])

#only keep rows that have an mpaa rating
clean_movie_data = clean_movie_data[clean_movie_data['rating'].isin(['G', 'PG', 'PG-13', 'R'])]

In [23]:
clean_movie_data.head(50)

,budget,imdb_id,release_date,revenue,title,month,year,rating,season,genre,profitability
15167,356000000.0,tt4154796,2019-04-24,2.797801e+09,Avengers: Endgame,4,2019,PG-13,Spring,Adventure,2.441801e+09
15166,300000000.0,tt4154756,2018-04-25,2.046240e+09,Avengers: Infinity War,4,2018,PG-13,Spring,Adventure,1.746240e+09
18,150000000.0,tt0369610,2015-06-06,1.671713e+09,Jurassic World,6,2015,PG-13,Summer,Action,1.521713e+09
19625,260000000.0,tt6105098,2019-07-12,1.656943e+09,The Lion King,7,2019,PG,Summer,Adventure,1.396943e+09
210,220000000.0,tt0848228,2012-04-25,1.519558e+09,The Avengers,4,2012,PG-13,Spring,Science Fiction,1.299558e+09
10542,190000000.0,tt2820852,2015-04-01,1.515048e+09,Furious 7,4,2015,PG-13,Spring,Action,1.325048e+09
8842,250000000.0,tt2395427,2015-04-22,1.405404e+09,Avengers: Age of Ultron,4,2015,PG-13,Spring,Action,1.155404e+09
4647,200000000.0,tt1825683,2018-02-13,1.346739e+09,Black Panther,2,2018,PG-13,Winter,Action,1.146739e+09
662,125000000.0,tt1201607,2011-07-07,1.341511e+09,Harry Potter and the Deathly Hallows: Part 2,7,2011,PG-13,Summer,Fantasy,1.216511e+09
9554,200000000.0,tt2527336,2017-12-13,1.332540e+09,Star Wars: The Last Jedi,12,2017,PG-13,Holiday,Science Fiction,1.132540e+09
16130,150000000.0,tt4520988,2019-11-20,1.330765e+09,Frozen II,11,2019,PG,Holiday,Animation,1.180765e+09
7955,150000000.0,tt2294629,2013-11-27,1.274219e+09,Frozen,11,2013,PG,Holiday,Animation,1.124219e+09
10381,160000000.0,tt2771200,2017-03-16,1.263521e+09,Beauty and the Beast,3,2017,PG,Spring,Family,1.103521e+09
13486,200000000.0,tt3606756,2018-06-14,1.242805e+09,Incredibles 2,6,2018,PG,Summer,Action,1.042805e+09
16364,250000000.0,tt4630562,2017-04-12,1.238765e+09,The Fate of the Furious,4,2017,PG-13,Spring,Action,9.887648e+08
1018,200000000.0,tt1300854,2013-04-18,1.214811e+09,Iron Man 3,4,2013,PG-13,Spring,Action,1.014811e+09
7948,74000000.0,tt2293640,2015-06-17,1.156731e+09,Minions,6,2015,PG,Summer,Family,1.082731e+09
13035,250000000.0,tt3498820,2016-04-27,1.153296e+09,Captain America: Civil War,4,2016,PG-13,Spring,Adventure,9.032963e+08
20100,160000000.0,tt6320628,2019-06-28,1.131928e+09,Spider-Man: Far from Home,6,2019,PG-13,Summer,Action,9.719280e+08
15165,152000000.0,tt4154664,2019-03-06,1.128275e+09,Captain Marvel,3,2019,PG-13,Spring,Action,9.762748e+08
1429,195000000.0,tt1399103,2011-06-28,1.123794e+09,Transformers: Dark of the Moon,6,2011,PG-13,Summer,Action,9.287941e+08
466,200000000.0,tt1074638,2012-10-25,1.108561e+09,Skyfall,10,2012,PG-13,Fall,Action,9.085610e+08
6670,210000000.0,tt2109248,2014-06-25,1.104054e+09,Transformers: Age of Extinction,6,2014,PG-13,Summer,Science Fiction,8.940541e+08
1260,250000000.0,tt1345836,2012-07-16,1.081041e+09,The Dark Knight Rises,7,2012,PG-13,Summer,Action,8.310413e+08
21473,55000000.0,tt7286456,2019-10-02,1.074251e+09,Joker,10,2019,R,Fall,Crime,1.019251e+09
9555,250000000.0,tt2527338,2019-12-18,1.074144e+09,Star Wars: The Rise of Skywalker,12,2019,PG-13,Holiday,Action,8.241442e+08
5695,175000000.0,tt1979376,2019-06-19,1.073395e+09,Toy Story 4,6,2019,G,Summer,Adventure,8.983946e+08
43,200000000.0,tt0435761,2010-06-16,1.066970e+09,Toy Story 3,6,2010,G,Summer,Animation,8.669697e+08
13980,200000000.0,tt3748528,2016-12-14,1.056057e+09,Rogue One: A Star Wars Story,12,2016,PG-13,Holiday,Action,8.560573e+08
19691,183000000.0,tt6139732,2019-05-22,1.047612e+09,Aladdin,5,2019,PG,Summer,Adventure,8.646124e+08
1016,380000000.0,tt1298650,2011-05-14,1.045714e+09,Pirates of the Caribbean: On Stranger Tides,5,2011,PG-13,Summer,Adventure,6.657138e+08
12934,80000000.0,tt3469046,2017-06-15,1.031553e+09,Despicable Me 3,6,2017,PG,Summer,Action,9.515526e+08
7829,200000000.0,tt2277860,2016-06-16,1.028571e+09,Finding Dory,6,2016,PG,Summer,Adventure,8.285709e+08
354,200000000.0,tt1014759,2010-03-03,1.025467e+09,Alice in Wonderland,3,2010,PG,Spring,Family,8.254671e+08
10925,150000000.0,tt2948356,2016-02-11,1.023784e+09,Zootopia,2,2016,PG,Winter,Animation,8.737842e+08
256,250000000.0,tt0903624,2012-11-26,1.021104e+09,The Hobbit: An Unexpected Journey,11,2012,PG-13,Holiday,Adventure,7.711036e+08
3447,76000000.0,tt1690953,2013-06-25,9.707619e+08,Despicable Me 2,6,2013,PG,Summer,Animation,8.947619e+08
11236,175000000.0,tt3040964,2016-04-07,9.665506e+08,The Jungle Book,4,2016,PG,Spring,Adventure,7.915506e+08
7885,90000000.0,tt2283362,2017-12-09,9.621022e+08,Jumanji: Welcome to the Jungle,12,2017,PG-13,Holiday,Action,8.721022e+08
599,250000000.0,tt1170358,2013-12-11,9.584000e+08,The Hobbit: The Desolation of Smaug,12,2013,PG-13,Holiday,Adventure,7.084000e+08
8069,250000000.0,tt2310332,2014-12-10,9.560198e+08,The Hobbit: The Battle of the Five Armies,12,2014,PG-13,Holiday,Action,7.060198e+08
268,250000000.0,tt0926084,2010-10-17,9.543059e+08,Harry Potter and the Deathly Hallows: Part 1,10,2010,PG-13,Fall,Adventure,7.043059e+08
3789,52000000.0,tt1727824,2018-10-24,8.940275e+08,Bohemian Rhapsody,10,2018,PG-13,Fall,Drama,8.420275e+08
8663,245000000.0,tt2379713,2015-10-26,8.806746e+08,Spectre,10,2015,PG-13,Fall,Action,6.356746e+08
7627,175000000.0,tt2250912,2017-07-05,8.801669e+08,Spider-Man: Homecoming,7,2017,PG-13,Summer,Action,7.051669e+08
3257,95000000.0,tt1667889,2012-06-26,8.772448e+08,Ice Age: Continental Drift,6,2012,PG,Summer,Animation,7.822448e+08
10181,75000000.0,tt2709768,2016-06-18,8.754579e+08,The Secret Life of Pets,6,2016,PG,Summer,Adventure,8.004579e+08
11026,250000000.0,tt2975590,2016-03-23,8.736349e+08,Batman v Superman: Dawn of Justice,3,2016,PG-13,Spring,Action,6.236349e+08
14449,200000000.0,tt3896198,2017-04-19,8.637561e+08,Guardians of the Galaxy Vol. 2,4,2017,PG-13,Spring,Action,6.637561e+08
6570,175000000.0,tt2096673,2015-06-09,8.576112e+08,Inside Out,6,2015,PG,Summer,Drama,6.826112e+08

In [46]:
clean_movie_data.to_csv('clean_movie_data.csv', index = False)

# Movie Actor Data

- Merge IMDB dataframes related to movie actos
- Specify actors in movies released in the US
- Drop unnecessary columns and duplicate values
- Merge cleaned dataframe with movie_data

In [24]:
#joined these tables to get the name and the specific profession ('category') they had for that movie

name_p = imdb_name.merge(imdb_title_p, on = 'nconst', how = 'left') 
name_p.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,tconst,ordering,category,job,characters
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553",tt2398241,9.0,producer,producer,NaN
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt0433397,7.0,composer,NaN,NaN
2,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt1681372,8.0,composer,NaN,NaN
3,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt2387710,8.0,composer,NaN,NaN
4,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt2281215,7.0,composer,NaN,NaN

In [25]:
#renamed the 'tconst' column to match the title_id column and use that later to join with title_ba table
name_p = name_p.rename(columns = {"tconst": "title_id", "nconst": "name_id"})

In [26]:
#joined both tables to get the name and the title info together
name_titles = title_ba.merge(name_p, on = 'title_id', how = 'left')
name_titles.head()

,title_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering_x,title,region,language,...,name_id,primary_name,birth_year,death_year,primary_profession,known_for_titles,ordering_y,category,job,characters
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",1.0,Sangharsh,IN,hi,...,nm0347899,Gulzar,1936.0,NaN,"music_department,writer,soundtrack","tt0091256,tt0178186,tt1010048,tt2176013",8.0,writer,dialogue,NaN
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",1.0,Sangharsh,IN,hi,...,nm1194313,Mahasweta Devi,1926.0,2016.0,writer,"tt0108001,tt0832902,tt0063540,tt0178562",7.0,writer,story,NaN
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",1.0,Sangharsh,IN,hi,...,nm0712540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer","tt0266757,tt0266712,tt0134996,tt0266765",5.0,director,NaN,NaN
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",1.0,Sangharsh,IN,hi,...,nm0904537,Vyjayanthimala,1933.0,NaN,"actress,music_department,miscellaneous","tt0047990,tt0054910,tt0050665,tt0058547",2.0,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",1.0,Sangharsh,IN,hi,...,nm0023551,Abrar Alvi,1927.0,2009.0,"writer,actor,director","tt0071811,tt0359496,tt0056436,tt0061046",6.0,writer,dialogue,NaN

In [27]:
#grouped by region and used get group to only show the US movies
us_name_titles = name_titles.groupby('region').get_group('US')
us_name_titles.head()

,title_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering_x,title,region,language,...,name_id,primary_name,birth_year,death_year,primary_profession,known_for_titles,ordering_y,category,job,characters
128,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,2.0,The Other Side of the Wind,US,NaN,...,nm0006166,Michel Legrand,1932.0,2019.0,"composer,soundtrack,music_department","tt0067334,tt0067803,tt0086619,tt0063688",8.0,composer,NaN,NaN
129,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,2.0,The Other Side of the Wind,US,NaN,...,nm0462648,Oja Kodar,1941.0,NaN,"actress,writer,director","tt0069049,tt0108506,tt0209994,tt0239070",2.0,actress,NaN,"[""The Actress""]"
130,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,2.0,The Other Side of the Wind,US,NaN,...,nm0004372,Gary Graver,1938.0,2006.0,"cinematographer,director,camera_department","tt0178845,tt0121549,tt0207568,tt0082004",9.0,cinematographer,NaN,NaN
131,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,2.0,The Other Side of the Wind,US,NaN,...,nm0001379,John Huston,1906.0,1987.0,"actor,director,writer","tt0040897,tt0040506,tt0071315,tt0043265",1.0,actor,NaN,"[""Jake Hannaford""]"
132,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,2.0,The Other Side of the Wind,US,NaN,...,nm0613657,Bob Murawski,1964.0,NaN,"editor,producer,editorial_department","tt0887912,tt0316654,tt0145487,tt0069049",10.0,editor,NaN,NaN

In [28]:
#check columns
us_name_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388927 entries, 128 to 2975188
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   title_id            388927 non-null  object
 1   primary_title       388927 non-null  object
 2   original_title      388926 non-null  object
 3   start_year          388927 non-null  int64
 4   runtime_minutes     331117 non-null  float64
 5   genres              385776 non-null  object
 6   ordering_x          388927 non-null  float64
 7   title               388927 non-null  object
 8   region              388927 non-null  object
 9   language            5128 non-null    object
 10  types               62174 non-null   object
 11  attributes          22294 non-null   object
 12  is_original_title   388922 non-null  float64
 13  name_id             388634 non-null  object
 14  primary_name        388634 non-null  object
 15  birth_year          100819 non-null  float64
 16  death_year          4871 non-null    float64
 17  primary_profession  369204 non-null  object
 18  known_for_titles    386256 non-null  object
 19  ordering_y          388634 non-null  float64
 20  category            388634 non-null  object
 21  job                 75453 non-null   object
 22  characters          173140 non-null  object
dtypes: float64(6), int64(1), object(16)
memory usage: 71.2+ MB

In [29]:
#drop irrelevant colunms
clean_us_names = us_name_titles.drop(columns = ['primary_title', 'original_title', 'start_year', 'language', 'types', 'attributes', 'is_original_title', 'birth_year', 'death_year', 'genres', 'ordering_x', 'ordering_y', 'primary_profession', 'known_for_titles', 'job'])
clean_us_names.head()

,title_id,runtime_minutes,title,region,name_id,primary_name,category,characters
128,tt0069049,122.0,The Other Side of the Wind,US,nm0006166,Michel Legrand,composer,NaN
129,tt0069049,122.0,The Other Side of the Wind,US,nm0462648,Oja Kodar,actress,"[""The Actress""]"
130,tt0069049,122.0,The Other Side of the Wind,US,nm0004372,Gary Graver,cinematographer,NaN
131,tt0069049,122.0,The Other Side of the Wind,US,nm0001379,John Huston,actor,"[""Jake Hannaford""]"
132,tt0069049,122.0,The Other Side of the Wind,US,nm0613657,Bob Murawski,editor,NaN

In [30]:
#filter to just get actor and actress names per movie
clean_us_actors = clean_us_names[clean_us_names['category'].isin(['actor', 'actress'])]

#drop any duplicates that have the same title_id and name_id
clean_us_actors = clean_us_actors.drop_duplicates(subset=(['title_id', 'name_id']), keep="first")

In [31]:
#rename columns to match up with movie_data for merging
clean_us_actors = clean_us_actors.rename(columns = {"title_id": "imdb_id", "primary_name": "name"})
clean_us_actors.head()

,imdb_id,runtime_minutes,title,region,name_id,name,category,characters
129,tt0069049,122.0,The Other Side of the Wind,US,nm0462648,Oja Kodar,actress,"[""The Actress""]"
131,tt0069049,122.0,The Other Side of the Wind,US,nm0001379,John Huston,actor,"[""Jake Hannaford""]"
133,tt0069049,122.0,The Other Side of the Wind,US,nm0000953,Peter Bogdanovich,actor,"[""Brooks Otterlake""]"
136,tt0069049,122.0,The Other Side of the Wind,US,nm0001782,Susan Strasberg,actress,"[""Julie Rich""]"
488,tt0159369,180.0,Cooper and Hemingway: The True Gen,US,nm0186908,Nancy Crawford,actress,"[""Additional voices""]"

In [32]:
#merge movie_data with clean_us_actors on imdb_id column
movie_actor = clean_movie_data.merge(clean_us_actors, on = 'imdb_id', how = 'left')

In [33]:
#drop any remaining columns we don't need for analysis
movie_actor = movie_actor.drop(columns = ['runtime_minutes', 'title_y', 'region', 'imdb_id', 'name_id'])

In [34]:
#rename title
movie_actor = movie_actor.rename(columns = {"title_x":"title"})

In [35]:
movie_actor.head()

,budget,release_date,revenue,title,month,year,rating,season,genre,profitability,name,category,characters
0,356000000.0,2019-04-24,2.797801e+09,Avengers: Endgame,4,2019,PG-13,Spring,Adventure,2.441801e+09,Mark Ruffalo,actor,"[""Bruce Banner"",""Hulk""]"
1,356000000.0,2019-04-24,2.797801e+09,Avengers: Endgame,4,2019,PG-13,Spring,Adventure,2.441801e+09,Chris Hemsworth,actor,"[""Thor""]"
2,356000000.0,2019-04-24,2.797801e+09,Avengers: Endgame,4,2019,PG-13,Spring,Adventure,2.441801e+09,Chris Evans,actor,"[""Steve Rogers"",""Captain America""]"
3,356000000.0,2019-04-24,2.797801e+09,Avengers: Endgame,4,2019,PG-13,Spring,Adventure,2.441801e+09,Robert Downey Jr.,actor,"[""Tony Stark"",""Iron Man""]"
4,300000000.0,2018-04-25,2.046240e+09,Avengers: Infinity War,4,2018,PG-13,Spring,Adventure,1.746240e+09,Mark Ruffalo,actor,"[""Bruce Banner"",""Hulk""]"

In [45]:
movie_actor.to_csv('movie_actor.csv', index = False)

### Additional Steps taken before visualization

- below are the lines of code needed to get the correct dataframe for visualization
- broadly, we needed to drop additional columns, add a profitibility column, adjust the float format, and create a few variables

In [ ]:
movies_df = pd.read_csv('movies_data.csv')

In [ ]:
month_movies_df = movies_df.sort_values(by=['month'], ascending=[True])
month_movies_df

In [ ]:
test_df = movies_df.drop(columns=['genre_7', 'genre_6', 'genre_5', 'genre_4', 'genre_3', 'genre_2'])
test_df = test_df.sort_values(by=['revenue'], ascending=[False])
rating_test_df = test_df.dropna(subset=['rating'])
rating_test_df

In [ ]:
clean_rating_df = rating_test_df[rating_test_df['rating'].isin(['G', 'PG', 'PG-13', 'R'])]

In [ ]:
clean_rating_df['profitability'] = clean_rating_df['revenue'] - clean_rating_df['budget']

In [ ]:
clean_budget_df = clean_rating_df.loc[~(clean_rating_df['budget'] == 0)]
clean_genre_df = clean_budget_df.dropna(subset=['genre_1'])
clean_genre_df

In [ ]:
corr = clean_budget_df.corr()

In [ ]:
clean_genre_df.groupby('genre_1')['profitability'].mean()

In [ ]:
pd.options.display.float_format = "{:.2f}".format

clean_genre_df.describe()

In [ ]:
clean_genre_df.head()

In [ ]:
last_ten_years = clean_genre_df.loc[clean_genre_df['year']>=2010]
last_ten_years

In [ ]:
movies_by_revenue = last_ten_years['revenue'].mean()
movies_by_revenue

In [ ]:
clean_genre_df.to_csv('clean_movie_data_final.csv')